/* Generics  */
* {
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 50px 0;
    background-color: rgb(255 152 0 / 8%);
}


.my-card img {
    cursor: pointer;
    filter: grayscale(1.5);
    transition: filter 0.5s;
}

#content-wrapper {
   background-color: #fff;
   padding-bottom: 10px;
}

.my-card img:hover {
    filter: grayscale(0);
}